body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  background-image: url("../module_connexion/img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* header */

header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container_img {
  padding-top: 1%;
}

.container_img img {
  width: 32px;
  height: 32px;
}

.nav {
  width: 50%;
}

.nav ul {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.nav ul li {
  list-style: none;
  margin-left: 2%;
  font-family: "Dosis";
}

.nav ul li a {
  text-decoration: none;
  color: white;
}
.nav ul li a:hover {
  color: yellow;
}

/* Container_main */

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  color: white;
  font-family: "Dosis";
  font-weight: 500;
  font-size: 3rem;
  padding-top: 5%;
}

small i {
  color: white;
}

/* Inscription */

.succes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container-sign {
  display: flex;
  margin-top: 5%;
  justify-content: center;

  color: black;
  font-family: "Dosis";
  font-size: large;
  letter-spacing: 3px;

  /* border: 1px solid black; */
}
.container-log {
  display: flex;
  margin-top: 5%;
  justify-content: center;

  color: black;
  font-family: "Dosis";
  font-size: large;
  letter-spacing: 3px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  /* background-color:moccasin; */
  padding-bottom: 3%;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: wheat;
  border: wheat;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: wheat;
  border: wheat;
}

input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: wheat;
  font-family: "Dosis";
  border: wheat;
}
input[type="submit"]:hover {
  cursor: pointer;
}

/* Page admin affichage bdd */
.container_admin{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Dosis';
}
.container_admin h1{
  color: white;
  font-family: 'Dosis';
}
.container_admin a{
  padding-top: 2%;
  text-decoration: none;
  font-family: 'Dosis';
  color: wheat;
}
.container_admin a:hover {
  color: yellow;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  border: 1px solid black;
  background-color: wheat;
  /* font-family: 'Dosis'; */
}
thead{
  background-color: blanchedalmond;
  font-family: 'Dosis';
  width: 100%;
  display: flex;
  justify-content: center;

}

  /* border: 1px solid black; */


tbody{
  display: flex;
  flex-direction:column;
  align-items: center;
  /* background-color: blanchedalmond; */
  font-family: 'Dosis';
}


/* Page utilisateur_profil */

.container_session {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Dosis';
}
.container_session h1{
  color: white;
  font-family: "Dosis";
}
.container_session a{
  padding-top: 2%;
  text-decoration: none;
  font-family: "Dosis";
  color: wheat;
}
.container_session a:hover {
  color: yellow;
}

/* Page utilisateur confirmation modification de profil */

.message-succes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: wheat;
  font-family: "Dosis";
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-family: "Dosis";
}

footer img {
  width: 32px;
  height: 32px;
  padding-top: 0.5%;
}
